<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
    <ul class="posts">
      <%= current_user.friend_requests %>
      <%=  current_user.confirmed_friend(@user)%>
    </ul>
  </article>
</section>
